* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    display: none;
    background-color: #efecec;
    font-family: 'Dosis', sans-serif;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
/* BANNER */

.banner{
    z-index: 1;
    position: fixed;
    display: inline-flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    background-color: rgb(241, 118, 16);
    box-shadow: 5px 1px 5px black;
}

.tituloBanner{
    margin-left: 1%;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: rgb(17, 4, 47);
}

.carrito_link{
    display: flex;
    align-items: center;
    margin: 10px;
}

.tienda_link{
    display: none;
}

.carritoFachero{
    width: 30px;
}

.nav_texto_link{
    color: black;
}

/* SECCION CAJA PRODUCTOS */

.cajaPresupuesto{
    position: relative;
    z-index: 0;
    width: 100%;
    top: 75px;
    background-color: rgb(17, 4, 47);
    box-shadow: 5px 1px 5px rgb(146, 146, 146);
    padding: 0px 100px;
}

.subtitulo{
    text-align: center;
    margin-left: 5px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 5px;
    padding-top: 1%;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #fa1212, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
    text-decoration: none;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.subtitulo_section{
    text-align: left;
    margin-left: 5px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: rgb(241, 194, 41);
}

/* CARDS PRODUCTOS*/

.card_productos{
    display: inline-block;
    width: 100%;
}

.card {
    display: inline-flex;
    flex-direction: column;
    box-shadow: 5px 5px 15px rgba(3, 35, 77, 60%);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 12px;
    width: 250px;
    height: 300px;
    overflow: hidden;
}

.card_title{
    text-align: center;
    font-size: 20px;
    margin-top: 3%;  
}

.card_portada {
    height: 55%;
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
}

.card_price {
    font-size: 20px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.card_btn {
    font-family: 'Dosis', sans-serif;
	box-shadow: 0px 10px 6px -7px #000000;
	background-color:rgb(17, 4, 47);;
	border-radius:9px;
    border-color: rgb(255, 197, 71);
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding: 8px 10px;
    width: 53%;
    margin: 0px 22%;
    margin-top: 1%;  
}
.card_btn:hover {
	background-color:rgb(42, 22, 90);;
    border-color: rgb(241, 118, 16);
}
.card_btn:active {
	position:relative;
	top:2px;
}

/* CARRITO */

.nav_bar_carrito {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.card_carrito_productos {
    box-shadow: 0px 5px 10px 0px rgba(69, 67, 96, 0.1);
    background-color: white;
    border-radius: 16px;
}

.titulo_carrito_productos {
    margin-left: 10px;
}

.lista_productos_carrito{
    display: flex;
    margin-left: 10px;
    padding-top: 5px;
}

.card_carrito_total {
    display: block;
    box-shadow: 0px 5px 10px 0px rgba(117, 114, 155, 0.1);
    background-color: white;
    border-radius: 16px;
    width: 150px;
    height: 30px;
}

.titulo_carrito_total {
    position: static;
    display: inline-block;
    margin-left: 10px;
}

.total_carrito{
    display: inline-block;
}

.tacho{
    width: 40px;
    height: 40px;
}

@media (max-width: 480px){

    .tituloBanner{
        margin-left: 1%;
        font-family: 'Dosis', sans-serif;
        font-weight: 600;
        font-size: 45px;
        color: rgb(17, 4, 47);
    }

    .tienda_link{
        display: none;
    }

    .carrito_link{
        display: inline-flex;
        margin-right: 3%;
    }

    .cajaPresupuesto{
        position: relative;
        z-index: 0;
        width: 100%;
        top: 55px;
        padding: 10px 60px;
        background-color: rgb(17, 4, 47);
        box-shadow: 5px 1px 5px rgb(146, 146, 146);
    }

    .subtitulo{
        text-align: center;
        font-family: 'Dosis', sans-serif;
        font-weight: 600;
        font-size: 30px;
        letter-spacing: 5px;
        width: 100%;
        margin-bottom: 10px;
    }

    .card_productos{
        display: inline-block;
        width: 100%;
    }
    
    .card {
        display: inline-flex;
        flex-direction: column;
        box-shadow: 5px 5px 15px rgba(3, 35, 77, 60%);
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        margin: 12px;
        width: 150px;
        height: 200px;
        overflow: hidden;
    }

    .subtitulo_section{
        text-align: left;
        margin-left: 3%;
        margin-bottom: 1%;
        font-family: 'Dosis', sans-serif;
        font-weight: 600;
        font-size: 25px;
        color: rgb(241, 194, 41);
    }

    .card_title{
        text-align: center;
        font-size: 20px;
        margin-top: 6%;
    }
    
    .card_portada {
        height: 45%;
        width: 60%;
        margin-left: 20%;
        margin-top: 1%;
    }
    
    .card_price {
        font-size: 20px;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
    }
    
    .card_btn {
        font-family: 'Dosis', sans-serif;
        box-shadow: 0px 10px 6px -7px #000000;
        background-color:rgb(17, 4, 47);;
        border-radius:9px;
        border-color: rgb(255, 197, 71);
        color:#ffffff;
        font-size:12px;
        font-weight:bold;
        padding: 8px 10px;
        width: 75%;
        margin-left: 12%;
        margin-top: 1%;  
    }
}

@media (max-width: 416px){

    .tituloBanner{
        margin-left: 1%;
        font-family: 'Dosis', sans-serif;
        font-weight: 600;
        font-size: 45px;
        color: rgb(17, 4, 47);
    }

    .tienda_link{
        display: none;
    }

    .carrito_link{
        display: inline-flex;
        margin-right: 3%;
    }

    .cajaPresupuesto{
        position: relative;
        z-index: 0;
        width: 100%;
        top: 55px;
        padding: 10px 30px;
        background-color: rgb(17, 4, 47);
        box-shadow: 5px 1px 5px rgb(146, 146, 146);
    }

    .subtitulo{
        text-align: center;
        font-family: 'Dosis', sans-serif;
        font-weight: 600;
        font-size: 30px;
        letter-spacing: 5px;
        width: 100%;
        margin-bottom: 10px;
    }

    .card_productos{
        display: inline-block;
        width: 100%;
    }
    
    .card {
        display: inline-flex;
        flex-direction: column;
        box-shadow: 5px 5px 15px rgba(3, 35, 77, 60%);
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        margin: 12px;
        width: 150px;
        height: 200px;
        overflow: hidden;
    }

    .subtitulo_section{
        text-align: left;
        margin-left: 3%;
        margin-bottom: 1%;
        font-family: 'Dosis', sans-serif;
        font-weight: 600;
        font-size: 25px;
        color: rgb(241, 194, 41);
    }

    .card_title{
        text-align: center;
        font-size: 20px;
        margin-top: 6%;
    }
    
    .card_portada {
        height: 45%;
        width: 60%;
        margin-left: 20%;
        margin-top: 1%;
    }
    
    .card_price {
        font-size: 20px;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
    }
    
    .card_btn {
        font-family: 'Dosis', sans-serif;
        box-shadow: 0px 10px 6px -7px #000000;
        background-color:rgb(17, 4, 47);;
        border-radius:9px;
        border-color: rgb(255, 197, 71);
        color:#ffffff;
        font-size:12px;
        font-weight:bold;
        padding: 8px 10px;
        width: 75%;
        margin-left: 12%;
        margin-top: 1%;  
    }
}

@media (max-width: 393px){

    .tituloBanner{
        margin-left: 1%;
        font-family: 'Dosis', sans-serif;
        font-weight: 600;
        font-size: 40px;
        color: rgb(17, 4, 47);
    }

    .tienda_link{
        display: none;
    }

    .carrito_link{
        display: inline-flex;
        margin-right: 3%;
    }

    .cajaPresupuesto{
        position: relative;
        z-index: 0;
        width: 100%;
        top: 50px;
        padding: 10px 19px;
        background-color: rgb(17, 4, 47);
        box-shadow: 5px 1px 5px rgb(146, 146, 146);
    }

    .subtitulo{
        text-align: center;
        font-family: 'Dosis', sans-serif;
        font-weight: 600;
        font-size: 30px;
        letter-spacing: 5px;
        width: 100%;
        margin-bottom: 10px;
    }

    .card_productos{
        display: inline-block;
        width: 100%;
    }
    
    .card {
        display: inline-flex;
        flex-direction: column;
        box-shadow: 5px 5px 15px rgba(3, 35, 77, 60%);
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        margin: 12px;
        width: 150px;
        height: 200px;
        overflow: hidden;
    }

    .subtitulo_section{
        text-align: left;
        margin-left: 3%;
        margin-bottom: 1%;
        font-family: 'Dosis', sans-serif;
        font-weight: 600;
        font-size: 25px;
        color: rgb(241, 194, 41);
    }

    .card_title{
        text-align: center;
        font-size: 20px;
        margin-top: 6%;
    }
    
    .card_portada {
        height: 45%;
        width: 60%;
        margin-left: 20%;
        margin-top: 1%;
    }
    
    .card_price {
        font-size: 20px;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
    }
    
    .card_btn {
        font-family: 'Dosis', sans-serif;
        box-shadow: 0px 10px 6px -7px #000000;
        background-color:rgb(17, 4, 47);;
        border-radius:9px;
        border-color: rgb(255, 197, 71);
        color:#ffffff;
        font-size:12px;
        font-weight:bold;
        padding: 8px 10px;
        width: 75%;
        margin-left: 12%;
        margin-top: 1%;  
    }
}

@media (max-width: 280px){

    .tituloBanner{
        margin-left: 1%;
        font-family: 'Dosis', sans-serif;
        font-weight: 600;
        font-size: 30px;
        color: rgb(17, 4, 47);
    }

    .tienda_link{
        display: none;
    }

    .carrito_link{
        display: inline-flex;
        margin-right: 3%;
        font-size: 15px;
    }

    .cajaPresupuesto{
        position: relative;
        z-index: 0;
        width: 100%;
        top: 44px;
        padding: 10px 14px;
        background-color: rgb(17, 4, 47);
        box-shadow: 5px 1px 5px rgb(146, 146, 146);
    }

    .subtitulo{
        text-align: center;
        font-family: 'Dosis', sans-serif;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 5px;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .card {
        display: inline-flex;
        flex-direction: column;
        box-shadow: 5px 5px 15px rgba(3, 35, 77, 60%);
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
        margin: 12px;
        width: 100px;
        height: 150px;
        overflow: hidden;
    }

    .card_title{
        text-align: center;
        font-size: 16px;
        margin-top: 6%;
    }
    
    .card_portada {
        height: 40%;
        width: 60%;
        margin-left: 20%;
        margin-top: 1%;
    }
    
    .card_price {
        font-size: 16px;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
    }
    
    .card_btn {
        font-family: 'Dosis', sans-serif;
        box-shadow: 0px 10px 6px -7px #000000;
        background-color:rgb(17, 4, 47);;
        border-radius:9px;
        border-color: rgb(255, 197, 71);
        color:#ffffff;
        font-size:9px;
        font-weight:bold;
        padding: 8px 10px;
        width: 88%;
        margin-left: 5%;
        margin-top: 1%;  
    }
}